<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- Thymeleaf fragment for fonts and styles -->
    <th:block th:replace="~{fragments/head :: googleFontsAndBootstrapStyles}"></th:block>
    <!--custom css-->
    <link href="style.css" rel="stylesheet">
</head>

<body>
<!--Custom menu fragment-->
<div th:replace="~{fragments/menu :: customMenu}"></div>

<!-- Main Container -->
<div class="container mt-5" data-bs-theme="dark">
    <!-- Logo and title row -->
    <div class="row mb-5 justify-content-center align-items-center">
        <div class="col-md-3 text-center">
            <img src="quiz_api_logo-transformed.webp" alt="Logo" class="img-fluid">
        </div>
        <div class="col-md-9 text-center">
            <h2 class="title">Junior Java Developer Quiz Application</h2>
        </div>
    </div>

    <!-- Main text -->
    <div class="row">
        <div class="col-md-12">
            <div class="main-text">
                <h4>Welcome to the Quiz App, the perfect companion for aspiring Java juniors on
                    their journey to success! Whether you're gearing up for your first developer
                    role or looking to brush up on your skills, our app is tailored just for you.
                    Dive into a vast pool of frequently asked interview questions across various
                    domains and get a real feel of what awaits in the recruitment arena. It's not
                    just an app; it's your stepping stone to mastering the essentials and beyond.
                    So, come join our community, challenge yourself with our quizzes, and transform
                    your passion into your profession. Let's embark on this learning adventure
                    together!
                </h4>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Tile 1 -->
        <div class="col-md-4">
            <a th:href="@{/randomQuestion}" class="card h-100 mt-2">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title">Random Question</h5>
                    <h6>Press me and you can try to solve random question from whole database!
                        All questions included!
                    </h6>
                </div>
            </a>
        </div>

        <!-- Tile 2 -->
        <div class="col-md-4">
            <a th:href="@{/learn/questions}" class="card h-100 mt-2">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title">Learn interview questions</h5>
                    <h6>Press me to go through questions one by one and read explanation for each
                        one of them!</h6>
                </div>
            </a>
        </div>

        <!-- Tile 3 -->
        <div class="col-md-4">
            <a href="/quiz/start-confirmation" class="card h-100 mt-2">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h5 class="card-title">Quiz challenge</h5>
                    <h6>Challenge yourself with 20 random question 1 minute for each of them.
                        The score will be display at the end of the test.</h6>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
