<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question View</title>
    <!-- Thymeleaf fragment for fonts and styles -->
    <th:block th:replace="~{fragments/head :: googleFontsAndBootstrapStyles}"></th:block>

    <!-- CSS -->
    <style>
        .btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
            text-decoration: none;
        }

        body {
            background: linear-gradient(to right, white, #0b2a05cf);
            font-family: 'Oswald', sans-serif;
        }

        .card:hover {
            transform: scale(1.03);
            transition: all 0.3s ease-in-out;
        }
        .modal-body {
            text-align : justify;
        }
    </style>
</head>


<body data-bs-theme="dark">
<!--Custom menu fragment-->
<!--TODO : now after menu is sticky this is not shown properly-->
<div th:replace="~{fragments/menu :: customMenu}"></div>

<!--Success or failure alert-->
<th:block th:switch="${result}">
    <div th:case="'null'"></div> <!--When page is reloaded don't show any-->
    <div th:case="'success'" class="alert alert-success alert-dismissible fade show"
         align="center">
        <p>Well done! :)</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:case="'failure'" class="alert alert-danger alert-dismissible fade show"
         align="center">
        <p>Not this time! :(</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</th:block>

<!-- Main Container -->
<div class="container mt-5">

    <!-- Title card -->
    <div class="card">
        <div class="card-header">
            <h5 class="card-title" align="center">Question</h5>
        </div>
        <div class="card-body">
            <h4 th:text="${question.question}" align="center">Here will be some question...</h4>
        </div>
    </div>

    <!-- Answer cards -->
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form th:action="@{/answer}" th:object="${ans}" method="post">
                        <input type="hidden" th:name="questionId" th:value="${question.id}">
                        <input type="hidden" th:name="ans" th:value="${question.ansA}">
                        <button type="submit" class="btn btn-link answer-btn"
                                th:text="${question.ansA}">Answer A
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 mt-2">
            <div class="card">
                <div class="card-body">
                    <form th:action="@{/answer}" th:object="${ans}" method="post">
                        <input type="hidden" th:name="questionId" th:value="${question.id}">
                        <input type="hidden" th:name="ans" th:value="${question.ansB}">
                        <button type="submit" class="btn btn-link answer-btn"
                                th:text="${question.ansB}">Answer B
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 mt-2">
            <div class="card">
                <div class="card-body">
                    <form th:action="@{/answer}" th:object="${ans}" method="post">
                        <input type="hidden" th:name="questionId" th:value="${question.id}">
                        <input type="hidden" th:name="ans" th:value="${question.ansC}">
                        <button type="submit" class="btn btn-link answer-btn"
                                th:text="${question.ansC}">Answer C
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 mt-2">
            <div class="card">
                <div class="card-body">
                    <form th:action="@{/answer}" th:object="${ans}" method="post">
                        <input type="hidden" th:name="questionId" th:value="${question.id}">
                        <input type="hidden" th:name="ans" th:value="${question.ansD}">
                        <button type="submit" class="btn btn-link answer-btn"
                                th:text="${question.ansD}">Answer D
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Next Random Question Button and Explanation Button -->
    <div class="row mt-3">
        <div class="col-md-6">
            <div class="col-md-12">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                        data-bs-target="#explanationModal">Explanation
                </button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 text-end">
                <a th:href="@{/randomQuestion}" th:method="get" class="btn btn-primary">Next Random
                    Question</a>
            </div>
        </div>
    </div>
</div>

<!-- Explanation Modal -->
<div class="modal fade" id="explanationModal" tabindex="-1" role="dialog"
     aria-labelledby="explanationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="explanationModalLabel"
                    th:text="${question.question}">Explanation
                </h5>
            </div>
            <div class="modal-body" >
                <p th:utext="${question.explanation}">Here goes the
                    explanation text
                    .</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Bootstrap JS -->
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>